* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* #concStrength, #paveBuildup, #soilclass {
    display: block;
    max-width: 100%;
    height: auto;
} */

.userInputs {
    height: 80%;
}

.withIcon {
    display: inline;
}

.icon {
    display: inline;
    width: 10%;
}

.imageContainer img {
    max-width: 100%;
    height: auto;
    object-fit:scale-down;
}

.formChoicesSubgrade {
    border: 1px solid black;
    width: 40%;
}

.formChoicesSimplified {
    border: 1px solid black;
}

.formChoicesRigorous {
    border: 1px solid black;
}

.resultsBorderBox {
    border: 3px solid black;
}